<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id_1" default="panda_right" />
  <xacro:arg name="arm_id_2" default="panda_left" />



  <!-- box shaped table as base for the 2 Pandas -->
  <link name="base">
    <visual>
      <origin xyz="0 0 -0.5" rpy="0 0 0"/>
      <geometry>
        <box size="1 2 1" />
      </geometry>
      <material name="White">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.5" rpy="0 0 0"/>
      <geometry>
        <box size="1 2 1" />
      </geometry>
    </collision>
  </link>
  

  <!-- <xacro:include filename="$(find franka_description)/robots/common/franka_hand.xacro"/> -->
<!-- Load the yaml file in franka_bimanual_controllers with relative_position in it -->
  <xacro:property name="relative_position" value="${xacro.load_yaml('$(find franka_bimanual_controllers)/config/relative_position.yaml')}"/>


  <xacro:property name="right_position_x" value="${relative_position['right']['position']['x']}"/>
  <xacro:property name="right_position_y" value="${relative_position['right']['position']['y']}"/>
  <xacro:property name="right_position_z" value="${relative_position['right']['position']['z']}"/>
  <xacro:property name="right_orientation_r" value="${relative_position['right']['orientation']['r']}"/>
  <xacro:property name="right_orientation_p" value="${relative_position['right']['orientation']['p']}"/>
  <xacro:property name="right_orientation_y" value="${relative_position['right']['orientation']['y']}"/>

  <xacro:property name="left_position_x" value="${relative_position['left']['position']['x']}"/>
  <xacro:property name="left_position_y" value="${relative_position['left']['position']['y']}"/>
  <xacro:property name="left_position_z" value="${relative_position['left']['position']['z']}"/>
  <xacro:property name="left_orientation_r" value="${relative_position['left']['orientation']['r']}"/>
  <xacro:property name="left_orientation_p" value="${relative_position['left']['orientation']['p']}"/>
  <xacro:property name="left_orientation_y" value="${relative_position['left']['orientation']['y']}"/>

  <joint name="base_to_panda_left_link0" type="fixed">
    <origin rpy="${left_orientation_r} ${left_orientation_p} ${left_orientation_y}" xyz="${left_position_x} ${left_position_y} ${left_position_z}" />
    <parent link="base" />
    <child link="panda_left_link0" />
  </joint>


  <joint name="base_to_panda_right_link0" type="fixed">
    <origin rpy="${right_orientation_r} ${right_orientation_p} ${right_orientation_y}" xyz="${right_position_x} ${right_position_y} ${right_position_z}" />
    <parent link="base" />
    <child link="panda_right_link0" />
  </joint>
  
  <xacro:include filename="$(find franka_bimanual_controllers)/urdf/panda_calibrated_right.urdf" />
  <xacro:include filename="$(find franka_bimanual_controllers)/urdf/panda_calibrated_left.urdf" />

</robot>
