<?xml version='1.0' encoding='utf-8'?>
<robot name="panda">
  
  <link name="panda_link0">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link0.dae" />
      </geometry>
    </visual>
  </link>
  <link name="panda_link1">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link1.dae" />
      </geometry>
    </visual>
  </link>
  
  
  <joint name="panda_joint1" type="revolute">
    <origin rpy="-4.149806467317431e-18 7.137365686697144e-18 -4.589661264154907e-17" xyz="3.92306549994108e-17 -1.8882042510814725e-17 0.333" />
    <parent link="panda_link0" />
    <child link="panda_link1" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-2.8973" upper="2.8973" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  
  <link name="panda_link2">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link2.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_joint2" type="revolute">
    <origin rpy="-1.569171687032732 0.00044804054045514627 3.716085806330908e-08" xyz="0.00019948308971021362 8.224025617840919e-05 -4.520794936045981e-18" />
    <parent link="panda_link1" />
    <child link="panda_link2" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-1.7628" upper="1.7628" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-1.7628" soft_upper_limit="1.7628" />
  </joint>
  
  <link name="panda_link3">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link3.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_joint3" type="revolute">
    <origin rpy="1.5701368639143456 0.00021547124952556483 0.00046325645207522415" xyz="-4.831237243079438e-05 -0.3160196186961809 8.223830388911502e-05" />
    <parent link="panda_link2" />
    <child link="panda_link3" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-2.8973" upper="2.8973" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  
  <link name="panda_link4">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link4.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_joint4" type="revolute">
    <origin rpy="1.5699691608784458 0.003392401284735163 -0.00022561343078897857" xyz="0.08218622382442696 0.00012463089813243814 1.9815805120017282e-05" />
    <parent link="panda_link3" />
    <child link="panda_link4" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-3.0718" upper="-0.0698" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-3.0718" soft_upper_limit="-0.0698" />
  </joint>
  
  <link name="panda_link5">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link5.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_joint5" type="revolute">
    <origin rpy="-1.5712115657202819 0.0016558929683474796 -0.0030382657944411353" xyz="-0.08161671980459631 0.38418467132228995 -0.0001250123513799326" />
    <parent link="panda_link4" />
    <child link="panda_link5" />
    <axis xyz="0 0 1" />
    <limit effort="12.0" lower="-2.8973" upper="2.8973" velocity="2.61" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  
  <link name="panda_link6">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link6.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_joint6" type="revolute">
    <origin rpy="1.5680134729931703 8.562990901120595e-05 0.0016569948945247314" xyz="6.629314849055931e-05 0.00045553055999363366 0.00018813569080110683" />
    <parent link="panda_link5" />
    <child link="panda_link6" />
    <axis xyz="0 0 1" />
    <limit effort="12.0" lower="-0.0175" upper="3.7525" velocity="2.61" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-0.0175" soft_upper_limit="3.7525" />
  </joint>
  
  <link name="panda_link7">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link7.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_joint7" type="revolute">
    <origin rpy="1.5708928447112276 -1.1846509241174548e-07 -7.997671792020968e-05" xyz="0.08768107566644284 -1.2646922078415426e-05 -0.0004545969030486451" />
    <parent link="panda_link6" />
    <child link="panda_link7" />
    <axis xyz="0 0 1" />
    <limit effort="12.0" lower="-2.8973" upper="2.8973" velocity="2.61" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  <link name="panda_link8" />
  <joint name="panda_joint8" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.107" />
    <parent link="panda_link7" />
    <child link="panda_link8" />
  </joint>
  <joint name="panda_hand_joint" type="fixed">
    <parent link="panda_link8" />
    <child link="panda_hand" />
    <origin rpy="0 0 -0.7853981633974483" xyz="0 0 0" />
  </joint>
  
  <link name="panda_hand">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/hand.dae" />
      </geometry>
    </visual>
  </link>
  <link name="panda_hand_tcp" />
  <joint name="panda_hand_tcp_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.1034" />
    <parent link="panda_hand" />
    <child link="panda_hand_tcp" />
  </joint>
  <link name="ball_link">
    <visual>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>

      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </visual>
  </link>

  <joint name="ball_joint" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="-0.0002660872941297353 -0.0006013031151721279 0.03213867409590657" />
    <parent link="panda_hand_tcp" />
    <child link="ball_link" />
  </joint>
  <link name="panda_leftfinger">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/finger.dae" />
      </geometry>
    </visual>
  </link>
  <link name="panda_rightfinger">
    <visual>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/finger.dae" />
      </geometry>
    </visual>
  </link>

    <joint name="panda_finger_joint1" type="prismatic">
    <parent link="panda_hand" />
    <child link="panda_leftfinger" />
    <origin rpy="0 0 0" xyz="0 0 0.0584" />
    <axis xyz="0 1 0" />
    <limit effort="100" lower="0.0" upper="0.04" velocity="0.2" />
    <dynamics damping="0.3" />
  </joint>
  <joint name="panda_finger_joint2" type="prismatic">
    <parent link="panda_hand" />
    <child link="panda_rightfinger" />
    <origin rpy="0 0 0" xyz="0 0 0.0584" />
    <axis xyz="0 -1 0" />
    <limit effort="100" lower="0.0" upper="0.04" velocity="0.2" />
    <mimic joint="panda_finger_joint1" />
    <dynamics damping="0.3" />
  </joint>
</robot>