<?xml version='1.0' encoding='utf-8'?>
<robot name="panda_left">

  <link name="panda_left_link0">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link0.dae" />
      </geometry>
    </visual>
  </link>
  <link name="panda_left_link1">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link1.dae" />
      </geometry>
    </visual>
  </link>
  
  
  <joint name="panda_left_joint1" type="revolute">
    <origin rpy="-1.828892248693048e-17 8.671137250584476e-18 -2.0577862275452234e-17" xyz="-1.4596613238343867e-17 -9.055693218673766e-17 0.333" />
    <parent link="panda_left_link0" />
    <child link="panda_left_link1" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-2.8973" upper="2.8973" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  
  <link name="panda_left_link2">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link2.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_left_joint2" type="revolute">
    <origin rpy="-1.5731826118735361 0.0008804625507391334 4.79318753789608e-08" xyz="0.00034046892346445374 -0.00027609138626588024 -2.4530901909373608e-17" />
    <parent link="panda_left_link1" />
    <child link="panda_left_link2" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-1.7628" upper="1.7628" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-1.7628" soft_upper_limit="1.7628" />
  </joint>
  
  <link name="panda_left_link3">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link3.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_left_joint3" type="revolute">
    <origin rpy="1.5723422152643884 0.0008208410846264723 0.0008441267498452069" xyz="0.00011482204889668299 -0.31591360277075664 -0.0002760912953803214" />
    <parent link="panda_left_link2" />
    <child link="panda_left_link3" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-2.8973" upper="2.8973" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  
  <link name="panda_left_link4">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link4.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_left_joint4" type="revolute">
    <origin rpy="1.5731556140861436 0.011786197996681824 -0.0008202845766085335" xyz="0.08225834378378427 -2.2463482153615717e-05 -8.565172079819686e-05" />
    <parent link="panda_left_link3" />
    <child link="panda_left_link4" />
    <axis xyz="0 0 1" />
    <limit effort="87.0" lower="-3.0718" upper="-0.0698" velocity="2.175" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-3.0718" soft_upper_limit="-0.0698" />
  </joint>
  
  <link name="panda_left_link5">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link5.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_left_joint5" type="revolute">
    <origin rpy="-1.5706656685042597 0.004904763353391575 -0.010228702256771381" xyz="-0.07855928728215028 0.38451520959214897 2.294719504146994e-05" />
    <parent link="panda_left_link4" />
    <child link="panda_left_link5" />
    <axis xyz="0 0 1" />
    <limit effort="12.0" lower="-2.8973" upper="2.8973" velocity="2.61" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  
  <link name="panda_left_link6">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link6.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_left_joint6" type="revolute">
    <origin rpy="1.5717644448432413 -0.0005146035481431135 0.0049033457862993225" xyz="0.0006528784687554265 0.00019996069776008653 0.0005556285825519909" />
    <parent link="panda_left_link5" />
    <child link="panda_left_link6" />
    <axis xyz="0 0 1" />
    <limit effort="12.0" lower="-0.0175" upper="3.7525" velocity="2.61" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-0.0175" soft_upper_limit="3.7525" />
  </joint>
  
  <link name="panda_left_link7">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/link7.dae" />
      </geometry>
    </visual>
  </link>
  
  <joint name="panda_left_joint7" type="revolute">
    <origin rpy="1.5708497729215354 -5.006328509410342e-08 0.0005117785060925037" xyz="0.09024626292728476 -2.4012052499956137e-05 -0.0001973603029375395" />
    <parent link="panda_left_link6" />
    <child link="panda_left_link7" />
    <axis xyz="0 0 1" />
    <limit effort="12.0" lower="-2.8973" upper="2.8973" velocity="2.61" />
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973" />
  </joint>
  <link name="panda_left_link8" />
  <joint name="panda_left_joint8" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.107" />
    <parent link="panda_left_link7" />
    <child link="panda_left_link8" />
  </joint>
  <joint name="panda_left_hand_joint" type="fixed">
    <parent link="panda_left_link8" />
    <child link="panda_left_hand" />
    <origin rpy="0 0 -0.7853981633974483" xyz="0 0 0" />
  </joint>
  
  <link name="panda_left_hand">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/hand.dae" />
      </geometry>
    </visual>
  </link>
  <link name="panda_left_hand_tcp" />
  <joint name="panda_left_hand_tcp_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.1884" />
    <parent link="panda_left_hand" />
    <child link="panda_left_hand_tcp" />
  </joint>
  <link name="ball_left_link">
    <visual>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>

      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </visual>
  </link>

  <joint name="ball_left_joint" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="-0.00023049759980861887 0.00044039014121866966 0.031100743489190348" />
    <parent link="panda_left_hand_tcp" />
    <child link="ball_left_link" />
  </joint>
  <link name="panda_left_leftfinger">
    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/finger.dae" />
      </geometry>
    </visual>
  </link>
  <link name="panda_left_rightfinger">
    <visual>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/finger.dae" />
      </geometry>
    </visual>
  </link>

    <joint name="panda_left_finger_joint1" type="prismatic">
    <parent link="panda_left_hand" />
    <child link="panda_left_leftfinger" />
    <origin rpy="0 0 0" xyz="0 0 0.0584" />
    <axis xyz="0 1 0" />
    <limit effort="100" lower="0.0" upper="0.04" velocity="0.2" />
    <dynamics damping="0.3" />
  </joint>
  <joint name="panda_left_finger_joint2" type="prismatic">
    <parent link="panda_left_hand" />
    <child link="panda_left_rightfinger" />
    <origin rpy="0 0 0" xyz="0 0 0.0584" />
    <axis xyz="0 -1 0" />
    <limit effort="100" lower="0.0" upper="0.04" velocity="0.2" />
    <mimic joint="panda_left_finger_joint1" />
    <dynamics damping="0.3" />
  </joint>
</robot>