<?xml version="1.0"?>
<launch>
  <arg name="gazebo"      default="true"  doc="Should the gazebo simulation be launched? Use false in case if you want to include this file and launch gazebo yourself" />
  <arg name="headless"    default="false" doc="Should the gazebo GUI be launched?" />
  <arg name="paused"      default="true" doc="Should the simulation directly be stopped at 0s?" />
  <arg name="rviz"        default="false" doc="Should RVIz be launched?" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <!-- Start paused, simulation will be started, when Pandas were loaded -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
  </include>

 <include file="$(find franka_bimanual_controllers)/launch/panda.launch">
   <arg name="arm_id"     value="panda_left" />
   <arg name="x"          value="0" />
   <arg name="y"          value="-0.5" />
   <arg name="z"          value="0" />
   <arg name="rviz"       value="false" />
   <arg name="gazebo"     value="false" />
   <arg name="paused"     value="true" />
 </include>

 <include file="$(find franka_bimanual_controllers)/launch/panda.launch">
   <arg name="arm_id"     value="panda_right" />
   <arg name="x"          value="0" />
   <arg name="y"          value="0.5" />
   <arg name="z"          value="0" />
   <arg name="rviz"       value="false" />
   <arg name="gazebo"     value="false" />
   <arg name="paused"     value="$(arg paused)" />
 </include>

</launch>